doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/c3.css')
    link(rel='stylesheet', href='/css/epoch.min.css')
    link(rel='stylesheet', href='/css/nv.d3.css')
    script(src="/d3/d3.js" type="text/javascript")
    script(src="/jquery/dist/jquery.min.js" type="text/javascript")
    script(src="/js/epoch.min.js" type="text/javascript")
    script(src="/js/nvd3-1.7.0/build/nv.d3.js" type="text/javascript")
  body
    block content
    script(src="/app.js" type="text/javascript")
